@import "modern-normalize";

@custom-media --screen-xs (min-width: 500px);

@custom-media --screen-sm (min-width: 1024px);

@custom-media --screen-ld (min-width: 1440px);

@custom-media --screen-md (min-width: 1920px);

html, body {
    min-height: 100vh;
    height: 100%;
    height: fit-content;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
